

section.level1 > h1 {
  font-size: 200%;
  color: darkcyan;
}

section.level2 > h2 {
  font-size: 140%;
  color: darkcyan;
}

.reveal section {
  font-size: 80% !important;
}

.reveal section img {
  border: 0 !important;
  border-radius: 8px !important;
  padding: 5px !important;
}

strong
{
  font-size: 120% !important;
  color: darkcyan;
}

em
{
  font-size: 120% !important;
  color: darkcyan;
}

.author
{
  color: darkblue;
}