.reveal .slides {
    height: 100%;
    top: 5%;
    margin-top: 5%;

  }

.reveal .slides>section {
  min-height: 100%;
  margin-left: 5%;
  margin-right:5%;
  text-align: center;
}

.reveal .slides>section>section {
  min-height: 100%;
  
}

section.level1 > h1 {
  font-size: 200%;
  color: cornflowerblue;
}

section.level2 > h2 {
  font-size: 100%;
  color: cornflowerblue;
}

em {
}

strong
{
  color:cornflowerblue;
}

#left {
  left:-8.33%;
  text-align: left;
  float: left;
  width:50%;
  z-index:-10;
}

#right {
  left:31.25%;
  top: 75px;
  float: right;
  text-align: right;
  z-index:-10;
  width:50%;
}
