
body{
  font-family: 'Times New Roman', Times, serif;
}

section.level1 > h1 {
  font-size: 150%;
}

section.level2 > h2 {
  font-size: 100%;
}

.reveal section {
  font-size: 70% !important;
}

.reveal section img {
  border: 0 !important;
  border-radius: 8px !important;
  padding: 0px !important;
}

/* Bold */
strong
{
  font-size: 120% !important;
  color: rgba(0, 0, 0, 0) !important;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  
}

/* Blockquote */
blockquote
{
  opacity: 1.0;
}

/* Italics */
em
{
  font-size: 120% !important;
  color: rgba(0, 0, 0, .35) !important;}

/* Author */
.author
{
  color: darkblue;
}
.header-section-number:after{
  content: ". "
}
/* Background content */
.slide-background-content
{
  opacity: 0.3 !important;
}
